* {
  box-sizing: border-box;
}
body {
  --text-color: #222;
  --bkg-color: #fff;
  --hover-bkg-color: #cbe8fd ;
  --head-color: #e3f2fd;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: rgb(62, 61, 61);
  --hover-bkg-color: #514a4a;
  --head-color: #303030;
  --canvas-color: rgb(22, 22, 22);
}
#myInput {
  background-image: url('css/searchicon.svg');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width:100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: var(--head-color);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: var(--hover-bkg-color);
}
