<div class="card-footer">
	<div class="text-center">
		<a href="https://hits.seeyoufarm.com"><img
            src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fcrypto-tracker.swapnilg4u.repl.co&count_bg=%237756E2&title_bg=%23555555&icon=bitcoin.svg&icon_color=%23E7E7E7&title=visits&edge_flat=false" /></a>
            &nbsp;&nbsp;<button type="button" class="btn-sm btn-toggle" data-toggle="button" aria-pressed="true">Dark-Mode</button>
</div>
<br>
<div id="credit" class="text-center">Made with <span class="entypo-heart"></span> in India by <a
        href="https://telegram.me/BenTennyson_xDBot">Swapnil</a></div>
        <br>
</div>